.main {
  padding-left: 16px;
  padding-right: 16px;
}

.settings {
  &__section {
    margin-top: 20px;
  }
}

@media (min-width: 1400px) {
  .settings {
    &__section {
      margin-top: 24px;
    }
  }
}
