.header {
  width: 100%;
  padding: 11px 16px;
  background: var(--color06);
  height: 50px;
  display: flex;
  justify-content: center;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 124px;
    height: 24px;
  }

  &__nav {
    &-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0;
      gap: 0;
    }

    &-icon {
      display: none;
      object-fit: contain;

        &--favorite {
          width: 12.8px;
          height: 11.74px;
          margin-left: 5.6px;
          margin-right: 5.6px;

          path {
            stroke: var(--color02);
          }
        }

        &--notification {
          width: 12.4px;
          height: 13.6px;
          margin-left: 5.88px;
          margin-right: 5.88px;

          path {
            fill: var(--color02);
          }
        }
    }
  }

  &__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: default;

    &-avatar {
      margin-left: 20px;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      object-fit: cover;
    }

    &-name {
      font-size: 1rem;
      font-family: var(--manrope), sans-serif;
      color: var(--color02);
      display: none;
    }
  }
}

@media (min-width: 1440px) {
  .header {
    height: 56px;

    &__nav {
      &-icon {
        display: block;
      }
    }

    &__user {
      &-avatar {
        width: 20px;
        height: 20px;
      }

      &-name {
        display: inline-block;
      }
    }
  }
}

