.dropdown-button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -0.5px;
  right: -0.5px;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;

  &__icon {
    path {
      transition: fill 0.3s ease-out;
    }

    &--small {
      display: block;
    }

    &--large {
      display: none;
    }
  }

  &:active &__icon path,
  &--active &__icon path {
    fill: var(--color02);
  }
  @media (hover: hover) {
    &:hover &__icon path {
      fill: var(--color-accent);
    }
  }

}

@media (min-width: 1440px) {
  .dropdown-button {
    top: 1.5px;
    right: 0;

    &__icon {
      &--small {
        display: none;
      }

      &--large {
        display: block;
      }
    }
  }
}
