@mixin common-button {
  width: 287px;
  height: 44px;
  outline: none;
  border: none;
  border-radius: 50px;
  background-color: var(--color01);
  color: var(--color06);
  font-family: var(--manrope), sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    background-color 0.3s ease-out,
    color 0.3s ease-out;
  cursor: pointer;

  &:hover {
    background-color: var(--color05);
    color: var(--color02);
    transition:
      background-color 0.3s ease-out,
      color 0.3s ease-out;
  }

  @media (min-width: 1440px) {
    width: 170px;
    height: 46px;
    font-size: 1rem;
  }
}

@mixin common-error-container {
  background-color: var(--color05);
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 40px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
  }
}

:root {
  --color-accent: #22a0bc;
  --color01: #161616;
  --color02: #595959;
  --color03: #9c9c9c;
  --color04: #dadada;
  --color05: #f4f4f4;
  --color06: #fdfdfd;
  --manrope: 'Manrope';
  --segoe: 'Segoe UI';
  --inter: 'Inter';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 16px;
}

html,
body {
  min-height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  background-color: var(--color05);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 344px;
  margin: 0 auto;
}

@media (min-width: 560px) {
  .wrapper {
    max-width: 526px;
  }
}

@media (min-width: 740px) {
  .wrapper {
    max-width: 708px;
  }
}

@media (min-width: 922px) {
  .wrapper {
    max-width: 890px;
  }
}

@media (min-width: 1105px) {
  .wrapper {
    max-width: 1072px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    max-width: 1160px;
  }
}
