.not-found {
  width: 100%;
  min-height: calc(100vh - 64px);
  background-color: var(--color05);
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 40px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
  }

  &__code {
    font-family: var(--manrope), sans-serif;
    font-size: 6rem;
    font-weight: 700;
    color: var(--color-accent);
    line-height: 1;
  }

  &__title {
    font-family: var(--manrope), sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color01);
    margin-top: 16px;
    margin-bottom: 32px;
  }

  &__button {
    width: 287px;
    height: 44px;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: var(--color01);
    color: var(--color06);
    font-family: var(--manrope), sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-out;

    &:hover {
      opacity: 0.8;
    }
  }

  &__back {
    margin-top: 32px;
  }
}

@media (min-width: 1440px) {
  .not-found {
    padding-top: 40px;

    &__content {
      margin-top: 100px;
    }

    &__code {
      font-size: 8rem;
    }

    &__title {
      font-size: 2rem;
      margin-bottom: 40px;
    }

    &__button {
      width: 170px;
      height: 46px;
      font-size: 1rem;
    }
  }
}
